{% extends 'tasks/base.html' %}
{% block content %}

    <a href="/tasks/">View all tasks</a><br>
    <a href="/tasks/pending">View pending tasks</a><br>
    
    <table>
    {% for task in tasks_list %}
        <tr>    
            <td><a href="{{ task.id }}">{{ task.title }}</a></td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
        </tr>
    {% endfor%}
    </table>


    <h4>Create New Task</h4>
    <form method="POST" action="{% url 'task_list' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.title.label_tag }}</td>
        <td>{{ form.title }}</td>
    </tr>
    <tr>
        <td>{{ form.description.label_tag }}</td>
        <td>{{ form.description }}</td>
    </tr>
    <tr>
        <td>{{ form.deadline.label_tag }}</td>
        <td>{{ form.deadline }}</td>
    </tr>
    <tr>
        <td>{{ form.priority.label_tag }}</td>
        <td>{{ form.priority }}</td>
    </tr>
    </table>

    <input type="submit" value="Create" />
    </form>

{% endblock %}
